<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href='/'>My Blog</a>
    <a href='/listBlog'>List Blogs</a>
    <a href='/addBlog'>Add Blog</a>
    <br/>
    
    <h1><%= title %></h1>
    <form action="/addBlog" method="POST">
      Title: <input type="text" name="blogTitle">
      <br>
      Text: <input type="text" name="blogText">
      <button>Submit</button>
    </form>
  </body>
</html>