<!-- app_client/index.html -->
<!-- Created for lab 5 -->
<!DOCTYPE html>
<html ng-app="blogApp">

<head>
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-route.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <a class = "nav-item nav-link active btn navbtn" href="/" My Blog>My Blog</a>
        <a class = "nav-item nav-link active btn navbtn" href="/listBlog" listBlog>List Blogs</a>
        <a class = "nav-item nav-link active btn navbtn" href="/addBlog" addBlog>Add Blog</a>
    </nav>    
    <!-- Angular Templates -->
    <script type="text/ng-template" id="pages/home.html">
            <div class="homeText">
                <p></p>
                <h2>{{vm.pageHeader.title}}</h2>
                <p>{{vm.message}}</p>
            </div>    
        </script>

    <script type="text/ng-template" id="pages/listBlog.html">
            <div class="container">
                <div ng-repeat="blog in vm.blogs">
                    <h3>{{blog.blogTitle}}</h3>
                    <p>{{blog.blogText}}</p>
                    <a href='/editBlog/{{blog._id}}'><img src="/icons/open-iconic-master/svg/pencil.svg" alt="Edit Blog"></a>
                    <a href='/deleteBlog/{{blog._id}}'><img src="/icons/open-iconic-master/svg/trash.svg" alt="Delete Blog"></a>
                    <hr/>
                </div>
            </div>
        </script>

    <script type="text/ng-template" id="pages/addBlog.html">
            <div class="container">
                <form name="userForm" ng-submit="vm.submit()" ng-controller="AddController">
                    Title: <input type="text" name="blogTitle" style="margin-bottom: 5px">
                    <br/>
                    Text: <input type="text" name="blogText" style="margin-bottom: 10px">
                    <br/>
                    <input type="submit" value="Create Post">
                </form>
            </div>
        </script>

    <script type="text/ng-template" id="pages/editBlog.html">
            <div class="container">
                <form name="userForm" ng-submit="vm.submit()" ng-controller="EditController">
                    Title: <input type="text" name="blogTitle" value="{{vm.blog.blogTitle}}" style="margin-bottom: 5px">
                    <br/>
                    Text: <input type="text" name="blogText" value="{{vm.blog.blogText}}" style="margin-bottom: 10px">
                    <br/>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </script>

    <script type="text/ng-template" id="pages/deleteBlog.html">
            <div class="container">
                <form name="userForm" ng-submit="vm.submit()" ng-controller="DeleteController">
                    Title: <input readonly name="blogTitle" value="{{vm.blog.blogTitle}}" style="margin-bottom: 5px">
                    <br/>
                    Text: <input readonly name="blogText" value="{{vm.blog.blogText}}" style="margin-bottom: 10px">
                    <br/>
                    <input type="submit" value="Delete Blog Post">
                    <button ng-click="vm.cancel()" type="button">Cancel</button>
                </form>
            </div>  
        </script>

    <!-- Angular View  -->
    <div ng-view></div>
    <script src="blogApp.js"></script>
</body>

</html>